/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.product-thumb img {
    margin-top: -410px;
}

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.feature-content {
    padding: 0 0px 0 58px;
}
.product-thumb img {
    margin-top: -400px;
    margin-right: -50px;
}

}


/* small mobile :320px. */
@media (max-width: 767px) {
.product-thumb img {
    margin-top: -245px;
    margin-right: 0;
    width: 100%;
}
.logo-title {
    color: rgba(27, 27, 27, 0.9);
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.hero-caption p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.25px;
    line-height: 29px;
    padding: 0;
    padding-right: 34px;
}
.hero-bg {
    min-height: 545px;
}
.hero-bg {
    padding-top: 100px;
}
.feature-top {
    text-align: center;
    margin: 50px 0;
}
.feature-box {
    flex-wrap: wrap;
}
.feature-icon {
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 0;
}
.feature-content {
    padding: 0;
    text-align: center;
}
.feature-content p {
    color: rgba(55, 47, 44, 0.7);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 30px;
    font-family: "Montserrat Medium";
    font-weight: 500;
}
.feature-box {
    margin-bottom: 120px;
}
.feature-box::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 60px;
    border-radius: 4px;
    background-color: #ffd29c;
    bottom: -35%;
    left: 0;
    right: 0;
    margin: auto;
}
.feature-content>span {
    margin-top: 50px;
}
.feature-box.long::before {
    height: 60px;
    bottom: -14%;
}
.feature-content>span {
    color: rgba(55, 47, 44, 0.6);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.17px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.feature-top {
    text-align: center;
    margin: 0;
}
.contact-area {
    background-color: rgba(52, 53, 51, 0.04);
    padding: 65px 0;
}
.form-title {
    text-align: center;
    color: rgba(27, 27, 27, 0.9);
    font-family: Montserrat;
    font-size: 20px;
}
.contact-area form label {
    font-size: 14px;
}
.contact-area form button {
    font-size: 16px;
    padding: 10px 20px;
}
.ask-box ul li a {
    padding: 10px 10px;
    font-size: 16px;
}
.ask {
    background: #fc9475;
    border-radius: 0px 10px 0 0;
    font-size: 31px !important;
}
.ask-box {
    position: fixed;
    z-index: 111;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}
