/*
  Theme Name: Name -
  Author:
  Support: admin@gmail.com
  Description:
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider
4. about-area
5. features-box
6. department
7. team
8. video-area
9. counter
10. footer
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,600|Montserrat:400,600&display=swap');
 body {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */
.btn {
	-moz-user-select: none;
	background: #1696e7 none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}







.hero-bg {
	background-size: cover;
	min-height: 768px;
	background-position: center center;
}
.logo-title {
	color: rgba(27, 27, 27, 0.9);
	font-size: 74px;
	font-weight: 300;
	line-height: 76px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.hero-caption p {
	color: rgba(55, 47, 44, 0.7);
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -0.37px;
	line-height: 44px;
	padding-right: 186px;
}
.product-thumb img {
	margin-top: -500px;
	margin-right: -50px;
}
.feature-top {
	margin-top: -111px;
}
.feature-content p strong {
	color: rgba(55, 47, 44, 0.9);
}
.feature-content p {
	color: rgba(55, 47, 44, 0.7);
	font-size: 23px;
	letter-spacing: -0.29px;
	line-height: 44px;
	font-weight: 600;
	margin: 0;
	margin-top: 20px;
}
.feature-content {
	padding: 0 143px 0 70px;
}

.feature-icon:last-child::before {
	width: 0;
}
.feature-icon {
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 60px;
	text-align: center;
}
.feature-content {
	padding: 0 91px 0 58px;
}
.feature-icon-long::before {
	height: 260px;
	bottom: -260px;
}
.feature-content>span {
	margin-top: 95px;
	display: block;
	color: rgba(55, 47, 44, 0.6);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.23px;
	line-height: 44px;
}
.feature-icon-long {
	margin-bottom: 260px;
}
.feature-content>span img {
	margin-right: 10px;
}

.contact-area form label {
	display: block;
	color: #0c2340;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
.contact-area form input {
	height: 46px;
	border: 1px solid #e4e4e4;
	background-color: #ffffff;
	margin-bottom: 35px;
	width: 100%;
	padding-left: 15px;
}
.form-title {
	color: rgba(27, 27, 27, 0.9);
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 57px;
}
.contact-area {
	background-color: rgba(52, 53, 51, 0.04);
	padding: 155px 0;
}
.contact-area form button {
	background-color: #31bfff;
	color: #ffffff;
	font-size: 23px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	border: 0;
	padding: 10px 70px;
}
.feature-box {
	display: flex;
	position: relative;
}
.feature-box::before {
	position: absolute;
	content: "";
	width: 7px;
	height: 60px;
	border-radius: 4px;
	background-color: #ffd29c;
	bottom: 0;
	left: 8%;
}
.feature-box.long::before {
	height: 260px;
}
.footer-area {
	background-color: rgba(27, 27, 27, 0.9);
	padding-top: 100px;
	padding-bottom: 70px;
}
.footer-widget ul li {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Montserrat', sans-serif;
}
.ask-box ul li {
	display: inline-block;
}
.ask-box ul {
	display: inline-block;
	background: #313131;
	border-radius: 10px 10px 0 0;
}
.ask-box ul li a {
	padding: 10px 31px;
	display: inline-block;
	color: rgba(255, 255, 255, 0.9);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}
.ask {
	background: #fc9475;
	border-radius: 0px 10px 0 0;
	font-size: 38px !important;
}
.ask-box {
	position: fixed;
	z-index: 111;
	bottom: 0;
	right: 0;
}
.contact-area form .custom {
	margin-top: 25px;
}
